.notification {
  color: rgb(0, 180, 0);
  border: solid;
  border-color: rgb(0, 180, 0);
  border-width: 5px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  padding: 10px;
}

.notificationError {
  color: rgb(180, 0, 0);
  border: solid;
  border-color: rgb(180, 0, 0);
  border-width: 5px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  padding: 10px;
}

th {
  font-weight: normal;
}
